h1{
  letter-spacing: 2px;
}
.jumbotron {
  margin-top: 2rem;
}
.pendu{
  width: 50%;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 250ms linear;
}

